<%- include("header") %>
<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum iste eaque ut fugit, saepe nemo harum ex blanditiis cumque doloremque dolore, iusto quos facere ipsam natus nam similique voluptatibus architecto?
Amet, porro molestiae, accusantium reiciendis natus, eum aliquam sit quod voluptate expedita nesciunt? Sit amet ipsam ducimus, incidunt voluptatibus vel distinctio necessitatibus earum vitae magni, debitis quos consequuntur molestiae blanditiis!
Delectus itaque, aliquam laborum a repudiandae doloribus, quam qui explicabo dolorem optio pariatur nam molestias et nihil quas unde? Quidem dolore quia ipsum repudiandae? Atque esse rerum odit labore modi!
Dignissimos sint itaque assumenda saepe inventore! Voluptas aliquid aliquam quos. Asperiores eaque blanditiis hic nulla quis sit, eius excepturi minus ut cumque ad dolorum molestias ipsam fugiat? Sapiente, corporis? Officiis.
Veritatis cumque enim quod expedita, ad natus consequatur cum quis sequi itaque consequuntur iure excepturi fugit hic vitae cupiditate debitis. Molestiae accusantium deserunt perspiciatis exercitationem odio, voluptatibus assumenda dolore quasi? </p>
<%- include("footer") %>  